<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="not-found content">
                <h1>Oppps!!</h1>
                <h2>The page does not exist, sorry</h2>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>