<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="container">
                <div class="card-home">
                    <h2>About TravelBuddy</h2>
                    <p class="aboutP">Travelbuddy is a project in the course TDDD27 and is made by Alice Kåhlin (alika734) and Rebecka Ljung (reb459)</p> <br>
                    <p class="aboutP"> The main idea is that you can create an account and search for a person to travel with. You can create your own trips and search friend that way, or you can search on different criterias that you have. When you have found a possible
                        TravelBuddy you can visit the person's profile and click on "contact person". We will then send an email to the user that you have found the person interesting for a trip and then hopefully user contacts you back. This limitation
                        has been done to make you feel safer to not expose your email for all users. <br>
                        <p class="aboutP"> Have a great trip, </p><br>
                        <p class="aboutP"> TravelBuddy </p>
                </div>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>