<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/navbar.ejs') %>

            <div class="container">
                <div class="col d-flex justify-content-center">
                    <form action="/forgot-password" method="post" class="form-inline justify-content-center">
                        <h3 class="card-title">Forgot Password</h3>

                        <div class="form-group">
                            <label for="email"> Email </label>
                            <input type="text" name="email" required placeholder="xxx@xxx.com" />
                        </div>
                        <div class="email error"></div>

                        <div class="sumbmitBox">
                            <button type="submit" class="btn btn-primary btn-lg"> Get reset link </button>
                        </div>
                        <br/>

                        <a href="/login">Log in</a>

                    </form>
                </div>
            </div>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>