<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/navbar.ejs') %>

            <div class="container">
                <div class="col d-flex justify-content-center">
                    <form action="placeholder" method="POST" class="form-inline justify-content-center" id="aToken">
                        <input type="text" name="hashedKey" hidden>
                        <h3 class="card-title">Reset Password</h3>

                        <div class="form-group">
                            <label for="password"> New password </label>
                            <input type="password" name="password" required placeholder="••••••" />
                        </div>

                        <div class="sumbmitBox">
                            <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                        </div>
                        <br/>
                    </form>
                </div>
            </div>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>

<script type="text/javascript">
    const userToken = window.location.pathname;

    document.getElementById('aToken').addEventListener('submit', function(s) {
        s.preventDefault();

        const method_ = "?_method=PATCH";
        const actionToken = userToken.concat(method_)

        this.action = actionToken;
        this.submit();
    });
</script>